h1 {
    text-align: center;
    font-size: 40px;
}
body {
    background-color: white;
    font-family: "Courier New";
}
p {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* FOOTER */
footer {
    font-size: 12px;
}
img {
    max-width: 100%;
    height: auto;
}
.section {
display: none;

}
.directory {
    display: flex;
    justify-content: center;
    gap: 20px; /* spacing between buttons */
    margin-top: 20px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content button {
    width: 100%;
    padding: 12px;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
  }

  .dropdown-content button:hover {
    background-color: #ddd;
  }

  .section {
    display: none;
    margin-top: 20px;
  }
